<div class="container">
<h1>Welcome to Hogwarts</h1>
<div class="crest">
	<%= link_to(image_tag "HogwartsCrest.png",:size => "300x300") %>

</div>


<h2 class="houses">Hogwarts Houses</h2>
<!--put your a link outside the div to make the whole div clickable. Default is just the text-->
<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		    <div class="Gryffindor-heading">
		      <h4 class="panel-title">
		        
		          Gryffindor
		        
		      </h4>
		    </div>
		    </a>
		    <div id="collapseOne" class="panel-collapse collapse">
		      <div class="panel-body">
		        Gryffindor values bravery, daring, nerve, and chivalry. Its emblematic animal is the lion and its colours are scarlet and gold. Minerva McGonagall is the most recent Head of Gryffindor. Sir Nicholas de Mimsy-Porpington, aka Nearly Headless Nick, is the house ghost. The founder of the house is Godric Gryffindor. Gryffindor corresponds to the element of Fire. The common room is located in one of the highest towers at Hogwarts, the entrance is situated on the seventh floor in the east wing of the castle and is guarded by a portrait of The Fat Lady. She permits entrance if given the correct password which is changed numerous times throughout the school year.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		  	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		    <div class="Hufflepuff-heading">
		      <h4 class="panel-title">
		        
		          Hufflepuff
		        
		      </h4>
		    </div>
		    </a>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		        Hufflepuff, founded by Helga Hufflepuff, values hard work, patience, loyalty, and fair play rather than a particular aptitude in its members. Its emblematic animal is the badger, and Yellow and Black are its colours. Pomona Sprout was the Head of Hufflepuff during 1991 - 1998, Sprout left the post of Head of Hufflepuff and Herbology Professor sometime before 2017 and her successor for the position of Head of Hufflepuff is currently unknown. The Fat Friar is its ghost. Hufflepuff corresponds to the element of earth. The Hufflepuff Dormitories and common room are located somewhere in the basement, near the castle's kitchens. It can be accessed by tapping the barrel two from the bottom, middle of the second row in the rhythem of "Helga Hufflepuff" and is described as being a cosy and welcoming place with yellow hangings, fat armchairs, and underground tunnels that lead to the dormitories, which have perfectly round doors, similar to barrel tops.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		  	 <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		    <div class="Ravenclaw-heading">
		      <h4 class="panel-title">
		       
		          Ravenclaw
		        
		      </h4>
		    </div>
		    </a>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		        Ravenclaw values intelligence, knowledge, and wit. Its emblematic animal is the eagle, and its colours are blue and bronze. The Ravenclaw Head of House in the 1990s was Filius Flitwick. The ghost of Ravenclaw is the Grey Lady, who was the daughter of Rowena Ravenclaw, the house's founder. Ravenclaw corresponds to the element of air. The Ravenclaw common room and dormitories are located in a tower on the west side of the castle. Ravenclaw students must answer a riddle as opposed to giving a password to enter their dormitories. This riddle, however, can be answered by non-Ravenclaws.
		      </div>
		    </div>
		  </div>
		
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		    <div class="Slytherin-heading">
		      <h4 class="panel-title">
		        
		          Slytherin
		        
		      </h4>
		    </div>
		    </a>

		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
		        Slytherin house values ambition, cunning and resourcefulness and was founded by Salazar Slytherin. Its emblematic animal is the serpent, and its colours are emerald green and silver. Professor Horace Slughorn was the Head of Slytherin during the 1997–1998 school year, replacing Severus Snape, who as well, replaced Slughorn when he retired for the first time several years ago. The Bloody Baron is the house ghost. Slytherin corresponds roughly to the element of water. The Slytherin Dormitories and common room are reached through a bare stone wall in the Dungeons. The Slytherin common room lies beneath the Black Lake. It is a long, low underground room with rough stone walls and silver lamps hanging from the ceiling.
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</div>
